.bg-primary
{
    background-color: hsl(240,100%,5%)!important;
    
}
@font-face {
    font-family:"Inter";
    src: url(../assets/fonts/static/Inter-Regular.ttf); 
    font-weight:400;
}

@font-face {
    font-family:"Inter";
    src: url(../assets/fonts/static/Inter-Bold.ttf); 
    font-weight:700;
}

@font-face {
    font-family:"Inter";
    src: url(../assets/fonts/static/Inter-ExtraBold.ttf); 
    font-weight:800;
}
body{
    font-family: "Inter",sans-serif;
}
.text-principal{
    font-weight: 900;
    font-size: 60px;
}
.letter-3{
    letter-spacing:3px;
}